<mat-toolbar>{{
  tcc && tcc.id ? "Editar tcc" : "Cadastrar tcc"
}}</mat-toolbar>

<div class="componente-container">
  <form
    class="form-padrao"
    *ngIf="formGroup"
    [formGroup]="formGroup"
    (ngSubmit)="formGroup.valid && salvar()"
    novalidate
  >
    <mat-form-field>
      <input
        matInput
        placeholder="Titulo"
        formControlName="titulo"
        required
        autocomplete="off"
      />
      <mat-error>Campo é obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Cronograma"
        formControlName="cronograma"
        required
        autocomplete="off"
      />
      <mat-error>Campo é obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Documento"
        formControlName="documento"
        required
        autocomplete="off"
      />
      <mat-error>Campo é obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Banca</mat-label>
      <mat-select formControlName="banca" [(value)]="selected" [compareWith]="comparar">
        <mat-select-trigger>
          {{ selected ? selected.data : '' }}
          <span
            *ngIf="selected?.length > 1"
            class="example-additional-selection"
          >
            (+{{ selected.length - 1 }}
            {{ selected?.length === 2 ? "other" : "others" }})
          </span>
        </mat-select-trigger>
        <mat-option
          *ngFor="let banca of listaBancas | async"
          [value]="banca"
          >{{ banca.data }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Aluno</mat-label>
      <mat-select formControlName="aluno" [(value)]="selectedAluno" [compareWith]="comparar">
        <mat-select-trigger>
          {{ selectedAluno ? selectedAluno.matricula : '' }}
          <span
            *ngIf="selectedAluno?.length > 1"
            class="example-additional-selection"
          >
            (+{{ selectedAluno.length - 1 }}
            {{ selectedAluno?.length === 2 ? "other" : "others" }})
          </span>
        </mat-select-trigger>
        <mat-option
          *ngFor="let aluno of alunos | async"
          [value]="aluno"
          >{{ aluno.matricula }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Orientador</mat-label>
      <mat-select formControlName="orientador" [(value)]="selectedOrientador" [compareWith]="comparar">
        <mat-select-trigger>
          {{ selectedOrientador ? selectedOrientador.matricula : '' }}
          <span
            *ngIf="selectedOrientador?.length > 1"
            class="example-additional-selection"
          >
            (+{{ selectedOrientador.length - 1 }}
            {{ selectedOrientador?.length === 2 ? "other" : "others" }})
          </span>
        </mat-select-trigger>
        <mat-option
          *ngFor="let orientador of orientadores | async"
          [value]="orientador"
          >{{ orientador.matricula }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" [(value)]="selectedStatus">
        <mat-option
          value="autorizado"
          >autorizado</mat-option
        >
        <mat-option
          value="pendente"
          >pendente</mat-option
        >
      </mat-select>
    </mat-form-field>

    <div class="linha-botoes">
      <button mat-raised-button color="primary" [disabled]="!formGroup.valid">
        Salvar
      </button>
      <button type="button" mat-raised-button routerLink="/bancas/cadastrar">
        Cadastrar banca
      </button>
      <button
        *ngIf="tcc && tcc.id"
        type="button"
        color="warn"
        mat-raised-button
        (click)="deletar()"
      >
        Deletar
      </button>
      <button type="button" mat-raised-button routerLink="/tccs">
        Cancelar
      </button>
    </div>
  </form>
</div>
